.box{
                   
    width: auto;
    display: block;
    width: 100%;
    height: auto;
    overflow: hidden;
    background-color: coral;
    margin-bottom: 5px;
}

.left{
    float: left;
    background: inherit;
}
.right{
    float: right;
    background: inherit;
}
.but {
    display: inline-block;
    padding: 5px 10px;
    background-color: cadetblue;
    cursor: pointer;
}

.but:hover {
    background-color: yellow;
    cursor: pointer;
}
