<div class="btn" (click)="back()">
    <a>User accounts</a>
  </div>
<div class="info">

  <h3>Account details:</h3>
  <p>
  Account number: {{userAccount?.id}}
  </p>
  <p>
  Account name: {{userAccount?.name}}
  </p>
  <p>
  Account balance: {{userAccount?.balance}} {{userAccount?.currency}}
  </p>
</div>
  <ng-container *ngIf="userAccount?.cards.length > 0; else elseTemplate">
    <h2>Card preview:</h2>
    <div *ngFor="let card of userAccount.cards">

      <ng-container *ngIf="toggleEdit != card.id; else elseTemplate">
        <div class="box">
          <div class="f-left">
          <p>Card number: {{card.id}}</p>
          <p>Card type: {{card.type}}</p>
          </div>
          <div class="f-right">
            <div *ngIf="isAdmin" >
              <div class="btn" (click)="editCard(card.id, card.cardType)">
                <a>Edit</a>
              </div>
              <div class="btn" (click)="deleteCard(card.id)">
                <a>Delete</a>
              </div>
            </div>
          </div>
        </div> 
      </ng-container>
      <ng-template #elseTemplate>
        <div class="box">
            <form #registerForm="ngForm" (ngSubmit)="updateCard()">
              <div class="left">
                <p>Card number: {{card.id}}</p>
                <p>Card type: <select id="cardType" [(ngModel)]="updateModel.CardType" name="cardtype">
                    <option *ngFor="let card of cardTypes" [ngValue]="card.id" >{{card.type}}</option>
                  </select></p>
              </div>
              <div class="right">
                <div *ngIf="isAdmin" >
                  <button type="submit" class="registerbtn">Save</button>
                  <div class="btn" (click)="editCard(-1, 0)">
                    <a>Cancle</a>
                  </div>
                </div>
              </div>
            </form>
          </div> 
      </ng-template>
  </div>

  </ng-container>
  <ng-template #elseTemplate>
    <p>You dont have any cards for this accout, feel free to create</p>
  </ng-template>

  <form #registerForm="ngForm" (ngSubmit)="createCard()">
      <div class="container">
        <h1>Create card</h1>
        Type: <select id="cardType" [(ngModel)]="model.CardType" name="cardtype">
            <option *ngFor="let card of cardTypes" [ngValue]="card.id" >{{card.type}}</option>
        </select>
        <button type="submit" class="registerbtn">Create</button>
      </div>
  </form>

  

